<div class="card mb-2">
  <div class="card-header">
    <i class="fa fa-user"></i>
    <%= user.email %>
  </div>
  <div class="card-footer">
    Signed up
    <%= time_ago_in_words(user.created_at) %>
  </div>
  <div class="card-footer">
    <%= user.sign_in_count %>
    <%= user.current_sign_in_at %>
    <%= user.last_sign_in_at %>
    <%= user.current_sign_in_ip %>
    <%= user.last_sign_in_ip %>
  </div>
  <div class="card-footer">
    Confirmed email?
    <% if user.confirmed_at.present? %>
      <span class="badge badge-success">Yes</span>
    <% else %>
      <span class="badge badge-danger">No</span>
    <% end %>
  </div>
  <div class="card-footer">
    <% user.roles.each do |role| %>
      <div> Role: <%= role.name %></div>
    <% end %>
  </div>
  <div class="card-footer">
    <%= link_to 'Edit roles', edit_user_path(user), class:'btn btn-sm btn-warning' if policy(user).edit? %>
  </div>
</div>
