<div class="card mb-2">
  <div class="card-header">
    <i class="fa fa-graduation-cap"></i>
    <%= link_to course.title, course_path(course) %>
  </div>
  <div class="card-body">
    <%= course.short_description %>
  </div>
  <div class="card-footer text-center">
    <%= number_to_currency(course.price) %>
  </div>
  <div class="card-footer">
    <div class="row">
      <div class="col-md-6">
        <i class="fa fa-globe-africa"></i>
        <%= course.language %>
      </div>
      <div class="col-md-6">
        <div class="text-right">
          <i class="fa fa-signal"></i>
          <%= course.level %>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <i class="far fa-clock"></i>
    <%= course.created_at.strftime('%d-%b-%y') %>
    <i class="fa fa-chalkboard-teacher ml-3"></i>
    <%= course.user.email %>
  </div>
  <div class="card-footer">
    <i class="fa fa-book"></i>
    <% binding.pry %>
    <%= course.lessons.count if course.lessons.present?%>
  </div>
  <% if current_user %>
    <div class="card-footer">
      <%= link_to 'Edit', edit_course_path(course), class:'btn btn-sm btn-warning' if policy(course).edit?%>
      <%= link_to 'Destroy', course, class:'btn btn-sm btn-danger', method: :delete, data: { confirm: 'Are you sure?' } if policy(course).destroy? %>
    </div>
  <% end %>

</div>
